In [1]:
library(disk.frame)

Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: purrr

Registered S3 method overwritten by 'pryr':
  method      from
  print.bytes Rcpp


## Message from disk.frame:
We have 1 workers to use with disk.frame.
To change that, use setup_disk.frame(workers = n) or just setup_disk.frame() to use the defaults.


It is recommended that you run the following immediately to set up disk.frame with multiple workers in order to parallelize your operations:


```r
# this will set up disk.frame with multiple workers
setup_disk.frame()
# this will allow unlimited amount of data to be passed from worker to worker
options(future.globals.maxSize = Inf)
```





Attaching package: ‘disk.frame’


The following objects are masked from ‘package:purrr’:

    imap, imap_dfr, map, map2


The following objects are masked from ‘package:base’:

    colnames, ncol, nrow

In [2]:
setup_disk.frame()

The number of workers available for disk.frame is 6

In [6]:
system.time(a <- csv_to_disk.frame("../fm-data/perf/Performance_2000Q1.txt", header=FALSE))

   user  system elapsed
 25.838   1.435   7.742

In [7]:
head(a)

  V1           V2         V3   V4 V5       V6 V7  V8  V9      V10 ⋯ V22 V23 V24
1 100007365142 01/01/2000 NULL 8        NA  0 360 359 01/2030 0   ⋯ NA  NA  NA
2 100007365142 01/01/2001 NULL 8  74319.00 12 348 347 01/2030 0   ⋯ NA  NA  NA
3 100007365142 01/01/2002 NULL 8  73635.48 24 336 335 01/2030 0   ⋯ NA  NA  NA
4 100007365142 01/01/2003 NULL 8  72795.41 36 324 322 01/2030 0   ⋯ NA  NA  NA
5 100007365142 02/01/2000 NULL 8        NA  1 359 358 01/2030 0   ⋯ NA  NA  NA
6 100007365142 02/01/2001 NULL 8  74264.14 13 347 346 01/2030 0   ⋯ NA  NA  NA
  V25 V26 V27 V28 V29  V30 V31
1 NA  NA  NA  NA  NULL NA  NULL
2 NA  NA  NA  NA  NULL NA  NULL
3 NA  NA  NA  NA  NULL NA  NULL
4 NA  NA  NA  NA  NULL NA  NULL
5 NA  NA  NA  NA  NULL NA  NULL
6 NA  NA  NA  NA  NULL NA  NULL

In [16]:
system.time(b <- a %>%
  srckeep("V6") %>%
  summarise(mean(V6)) %>%
  collect)

b

   user  system elapsed
  0.274   0.004   1.650

  mean(V6)
1 33.96503

In [23]:
files = dir("../fm-data/perf", full.names=T)
file.size(files)/1024^3

[1] 0.9272777 0.8341817 0.8858110 1.0335631

In [24]:
system.time(a <- csv_to_disk.frame(files, header=FALSE))

csv_to_disk.frame: Reading multiple input files.

Please use `colClasses = `  to set column types to minimize the chance of a failed read

=================================================



 -----------------------------------------------------

-- Converting CSVs to disk.frame -- Stage 1 of 2:



Converting 4 CSVs to 6 disk.frames each consisting of 6 chunks

 Progress: ──────────────────────────────────────────────────────────────── 100%

-- Converting CSVs to disk.frame -- Stage 1 or 2 took: 19.7s elapsed (0.248s cpu)

 -----------------------------------------------------



 -----------------------------------------------------

-- Converting CSVs to disk.frame -- Stage 2 of 2:



Row-binding the 6 disk.frames together to form one large disk.frame:

Creating the disk.frame at /tmp/Rtmpk244dn/file153443d37d1.df



Appending disk.frames:

 Progress: ──────────────────────────────────────────────────────────────── 100%

Stage 2 of 2 took: 14.1s elapsed (0.405s cpu)

 -----------------------------------------------------

Stage 1 & 2 in total took: 33.8s elapsed (0.685s cpu)

   user  system elapsed
  0.693   0.051  33.840

In [25]:
nrow(a)

[1] 36190382

In [27]:
library(fst)

In [28]:
file.size(a)

ERROR: Error in file.info(..., extra_cols = FALSE): invalid filename argument

In [35]:
sum(file.size(dir(attr(a, "path"), full.names=T)))/1024^3

[1] 1.275912

In [37]:
head(a)

  V1           V2         V3   V4 V5       V6 V7  V8  V9      V10 ⋯ V22 V23 V24
1 100007365142 01/01/2000 NULL 8        NA  0 360 359 01/2030 0   ⋯ NA  NA  NA
2 100007365142 01/01/2001 NULL 8  74319.00 12 348 347 01/2030 0   ⋯ NA  NA  NA
3 100007365142 01/01/2002 NULL 8  73635.48 24 336 335 01/2030 0   ⋯ NA  NA  NA
4 100007365142 01/01/2003 NULL 8  72795.41 36 324 322 01/2030 0   ⋯ NA  NA  NA
5 100007365142 02/01/2000 NULL 8        NA  1 359 358 01/2030 0   ⋯ NA  NA  NA
6 100007365142 02/01/2001 NULL 8  74264.14 13 347 346 01/2030 0   ⋯ NA  NA  NA
  V25 V26 V27 V28 V29  V30 V31
1 NA  NA  NA  NA  NULL NA  NULL
2 NA  NA  NA  NA  NULL NA  NULL
3 NA  NA  NA  NA  NULL NA  NULL
4 NA  NA  NA  NA  NULL NA  NULL
5 NA  NA  NA  NA  NULL NA  NULL
6 NA  NA  NA  NA  NULL NA  NULL

In [41]:
system.time(a1 <- a %>%
  get_chunk(1) %>%
  mutate(as.Date(paste0("01", V1), "%d%m/%Y")))

   user  system elapsed
  5.994   1.781   5.221

In [40]:
a1

        V1           V2         V3    V4    V5        V6 V7  V8  V9      V10
1       100007365142 01/01/2000 NULL  8           NA   0 360 359 01/2030 0
2       100007365142 01/01/2001 NULL  8     74319.00  12 348 347 01/2030 0
3       100007365142 01/01/2002 NULL  8     73635.48  24 336 335 01/2030 0
4       100007365142 01/01/2003 NULL  8     72795.41  36 324 322 01/2030 0
5       100007365142 02/01/2000 NULL  8           NA   1 359 358 01/2030 0
6       100007365142 02/01/2001 NULL  8     74264.14  13 347 346 01/2030 0
7       100007365142 02/01/2002 NULL  8     73576.06  25 335 334 01/2030 0
8       100007365142 02/01/2003 NULL  8     72680.39  37 323 320 01/2030 0
9       100007365142 03/01/2000 NULL  8           NA   2 358 357 01/2030 0
10      100007365142 03/01/2001 NULL  8     74208.91  14 346 345 01/2030 0
11      100007365142 03/01/2002 NULL  8     73516.25  26 334 333 01/2030 0
12      100007365142 03/01/2003 NULL  8     72564.61  38 322 318 01/2030 0
13      100007365142 04/01/2000 NULL  8           NA   3 357 356 01/2030 0
14      100007365142 04/01/2001 NULL  8     74153.32  15 345 344 01/2030 0
15      100007365142 04/01/2002 NULL  8     73456.04  27 333 332 01/2030 0
16      100007365142 04/01/2003 NULL  8     72564.61  39 321   0 01/2030 0
17      100007365142 05/01/2000 NULL  8           NA   4 356 355 01/2030 0
18      100007365142 05/01/2001 NULL  8     74153.32  16 344 344 01/2030 0
19      100007365142 05/01/2002 NULL  8     73395.43  28 332 331 01/2030 0
20      100007365142 06/01/2000 NULL  8           NA   5 355 355 01/2030 0
21      100007365142 06/01/2001 NULL  8     74097.36  17 343 343 01/2030 0
22      100007365142 06/01/2002 NULL  8     73395.43  29 331 331 01/2030 0
23      100007365142 07/01/2000 NULL  8     74693.00   6 354 354 01/2030 0
24      100007365142 07/01/2001 NULL  8     73984.31  18 342 341 01/2030 0
25      100007365142 07/01/2002 NULL  8     73334.41  30 330 330 01/2030 0
26      100007365142 08/01/2000 NULL  8     74587.91   7 353 352 01/2030 0
27      100007365142 08/01/2001 NULL  8     73926.71  19 341 340 01/2030 0
28      100007365142 08/01/2002 NULL  8     73272.99  31 329 329 01/2030 0
29      100007365142 09/01/2000 NULL  8     74534.84   8 352 351 01/2030 0
30      100007365142 09/01/2001 NULL  8     73869.23  20 340 339 01/2030 0
⋮       ⋮            ⋮          ⋮     ⋮     ⋮         ⋮  ⋮   ⋮   ⋮       ⋮
6031703 249989663681 11/01/2002 NULL  7.875  28884.88 24 156 156 11/2015 35620
6031704 249989663681 11/01/2003 NULL  7.875  27555.60 36 144 144 11/2015 35620
6031705 249989663681 12/01/2000 NULL  7.875        NA  1 179 179 11/2015 35620
6031706 249989663681 12/01/2001 OTHER 7.875  29915.65 13 167 166 11/2015 35620
6031707 249989663681 12/01/2002 NULL  7.875  28670.52 25 155 154 11/2015 35620
6031708 249989663681 12/01/2003 NULL  7.875  27440.04 37 143 143 11/2015 35620
6031709 249992604534 01/01/2001 NULL  7.750        NA  1 359 359 12/2030 33460
6031710 249992604534 02/01/2001 NULL  7.750        NA  2 358 358 12/2030 33460
6031711 249992604534 03/01/2001 NULL  7.750        NA  3 357 356 12/2030 33460
6031712 249992604534 04/01/2001 NULL  7.750        NA  4 356 355 12/2030 33460
6031713 249992604534 05/01/2001 NULL  7.750        NA  5 355 353 12/2030 33460
6031714 249992604534 06/01/2001 NULL  7.750 175014.10  6 354 353 12/2030 33460
6031715 249992604534 07/01/2001 NULL  7.750 174884.23  7 353 352 12/2030 33460
6031716 249992604534 08/01/2001 NULL  7.750 174753.52  8 352 351 12/2030 33460
6031717 249992604534 09/01/2001 NULL  7.750 174753.52  9 351   0 12/2030 33460
6031718 249992604534 12/01/2000 NULL  7.750        NA  0 360 360 12/2030 33460
6031719 249995379351 01/01/2001 NULL  7.875        NA  2 358 358 11/2030 35840
6031720 249995379351 01/01/2002 NULL  7.875 137205.04 14 346 346 11/2030 35840
6031721 249995379351 01/01/2003 NULL  7.875 135904.25 26 334 334 11/2030 35840
6031722 249995379351 01/01/2004 NULL  7.875 134166.02 38 322 320 11/2030 35840
6031723 249995379351 02/01/2001 NULL  7.875        NA  3 357 357 11/2030 35840
6031724 249995379351 02/01/2002 NULL  7.875 137100.50 15 345 345 11/2030 35840
6031725 249995379351 02/01/2003 NULL  7.875 135791.17 27 333 333 11/2030 35840
6031726 249995379351 02/01/2004 NULL  7.875 134166.02 39 321   0 11/2030 35840
6031727 249995379351 03/01/2001 NULL  7.875        NA  4 356 356 11/2030 35840
6031728 249995379351 03/01/2002 NULL  7.875 136995.27 16 344 344 11/2030 35840
6031729 249995379351 03/01/2003 NULL  7.875 135677.35 28 332 332 11/2030 35840
6031730 249995379351 04/01/2001 NULL  7.875        NA  5 355 355 11/2030 35840
6031731 249995379351 04/01/2002 NULL  7.875 136889.35 17 343 343 11/2030 35840
6031732 249995379351 04/01/2003 NULL  7.875 135562.78 29 331 331 11/2030 35840
        ⋯ V23 V24 V25 V26 V27 V28 V29  V30 V31
1       ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
2       ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
3       ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
4       ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
5       ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6       ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
7       ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
8       ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
9       ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
10      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
11      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
12      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
13      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
14      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
15      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
16      ⋯ NA  NA  NA  NA  NA  NA  N    NA  NULL
17      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
18      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
19      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
20      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
21      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
22      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
23      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
24      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
25      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
26      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
27      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
28      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
29      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
30      ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
⋮       ⋱ ⋮   ⋮   ⋮   ⋮   ⋮   ⋮   ⋮    ⋮   ⋮
6031703 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031704 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031705 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031706 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031707 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031708 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031709 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031710 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031711 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031712 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031713 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031714 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031715 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031716 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031717 ⋯ NA  NA  NA  NA  NA  NA  N    NA  NULL
6031718 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031719 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031720 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031721 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031722 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031723 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031724 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031725 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031726 ⋯ NA  NA  NA  NA  NA  NA  N    NA  NULL
6031727 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031728 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031729 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031730 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031731 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
6031732 ⋯ NA  NA  NA  NA  NA  NA  NULL NA  NULL
        as.Date(paste0("01", V1), "%d%m/%Y")
1       <NA>
2       <NA>
3       <NA>
4       <NA>
5       <NA>
6       <NA>
7       <NA>
8       <NA>
9       <NA>
10      <NA>
11      <NA>
12      <NA>
13      <NA>
14      <NA>
15      <NA>
16      <NA>
17      <NA>
18      <NA>
19      <NA>
20      <NA>
21      <NA>
22      <NA>
23      <NA>
24      <NA>
25      <NA>
26      <NA>
27      <NA>
28      <NA>
29      <NA>
30      <NA>
⋮       ⋮
6031703 <NA>
6031704 <NA>
6031705 <NA>
6031706 <NA>
6031707 <NA>
6031708 <NA>
6031709 <NA>
6031710 <NA>
6031711 <NA>
6031712 <NA>
6031713 <NA>
6031714 <NA>
6031715 <NA>
6031716 <NA>
6031717 <NA>
6031718 <NA>
6031719 <NA>
6031720 <NA>
6031721 <NA>
6031722 <NA>
6031723 <NA>
6031724 <NA>
6031725 <NA>
6031726 <NA>
6031727 <NA>
6031728 <NA>
6031729 <NA>
6031730 <NA>
6031731 <NA>
6031732 <NA>