In [25]:
import vaex

In [26]:
import pandas as pd

In [28]:
%time pd.read_csv("../fm-data/perf/Performance_2000Q1.txt", sep="|", header = None)

CPU times: user 15.4 s, sys: 1.25 s, total: 16.7 s
Wall time: 16.7 s

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,100007365142,01/01/2000,NaN,8.00,NaN,0.0,360.0,359.0,01/2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100007365142,01/01/2001,NaN,8.00,74319.00,12.0,348.0,347.0,01/2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100007365142,01/01/2002,NaN,8.00,73635.48,24.0,336.0,335.0,01/2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100007365142,01/01/2003,NaN,8.00,72795.41,36.0,324.0,322.0,01/2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007365142,02/01/2000,NaN,8.00,NaN,1.0,359.0,358.0,01/2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9094674,999999117079,12/01/2008,NaN,7.75,33119.88,105.0,75.0,61.0,03/2015,40060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9094675,999999117079,12/01/2009,NaN,7.75,27209.33,117.0,63.0,49.0,03/2015,40060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9094676,999999117079,12/01/2010,NaN,7.75,21200.81,129.0,51.0,37.0,03/2015,40060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9094677,999999117079,12/01/2011,NaN,7.75,14709.73,141.0,39.0,25.0,03/2015,40060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9094678,999999117079,12/01/2012,NaN,7.75,6884.45,153.0,27.0,11.0,03/2015,40060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [29]:
%%time
a = vaex.from_csv("../fm-data/perf/Performance_2000Q1.txt", sep="|", header=None)

could not convert column 0, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 0, error: TypeError("'int' object is not subscriptable")
could not convert column 1, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 1, error: TypeError("'int' object is not subscriptable")
could not convert column 2, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 2, error: TypeError("'int' object is not subscriptable")
could not convert column 3, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 3, error: TypeError("'int' object is not subscriptable")
could not convert column 4, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 4, error: TypeError("'int' object is not subscriptable")
could not convert column 5, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 5, error: TypeError("'int' object is not subscriptable")
could not convert column 6, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 6, error: TypeError("'int' object is not subscriptable")
could not convert column 7, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 7, error: TypeError("'int' object is not subscriptable")
could not convert column 8, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 8, error: TypeError("'int' object is not subscriptable")
could not convert column 9, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 9, error: TypeError("'int' object is not subscriptable")
could not convert column 10, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 10, error: TypeError("'int' object is not subscriptable")
could not convert column 11, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 11, error: TypeError("'int' object is not subscriptable")
could not convert column 12, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 12, error: TypeError("'int' object is not subscriptable")
could not convert column 13, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 13, error: TypeError("'int' object is not subscriptable")
could not convert column 14, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 14, error: TypeError("'int' object is not subscriptable")
could not convert column 15, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 15, error: TypeError("'int' object is not subscriptable")
could not convert column 16, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 16, error: TypeError("'int' object is not subscriptable")
could not convert column 17, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 17, error: TypeError("'int' object is not subscriptable")
could not convert column 18, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 18, error: TypeError("'int' object is not subscriptable")
could not convert column 19, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 19, error: TypeError("'int' object is not subscriptable")
could not convert column 20, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 20, error: TypeError("'int' object is not subscriptable")
could not convert column 21, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 21, error: TypeError("'int' object is not subscriptable")
could not convert column 22, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 22, error: TypeError("'int' object is not subscriptable")
could not convert column 23, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 23, error: TypeError("'int' object is not subscriptable")
could not convert column 24, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 24, error: TypeError("'int' object is not subscriptable")
could not convert column 25, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 25, error: TypeError("'int' object is not subscriptable")
could not convert column 26, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 26, error: TypeError("'int' object is not subscriptable")
could not convert column 27, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 27, error: TypeError("'int' object is not subscriptable")
could not convert column 28, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 28, error: TypeError("'int' object is not subscriptable")
could not convert column 29, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 29, error: TypeError("'int' object is not subscriptable")
could not convert column 30, error: TypeError("'int' object is not subscriptable"), will try to convert it to string
Giving up column 30, error: TypeError("'int' object is not subscriptable")
CPU times: user 1min 38s, sys: 2.72 s, total: 1min 41s
Wall time: 1min 41s

#          index
0          0
1          1
2          2
3          3
4          4
...        ...
9,094,674  9094674
9,094,675  9094675
9,094,676  9094676
9,094,677  9094677
9,094,678  9094678

In [31]:
a.shape

(9094679, 1)

In [12]:
import os

In [17]:
import vaex

In [19]:
aa = vaex.open_many(["../fm-data/perf/"+file for file in os.listdir("../fm-data/perf")])

ERROR:MainThread:vaex:error opening '../fm-data/perf/Performance_2000Q4.txt'

OSError: Could not open file: ../fm-data/perf/Performance_2000Q4.txt, did you install vaex-hdf5? Is the format supported?

Signature: os.listdir(path=None)
Docstring:
Return a list containing the names of the files in the directory.

path can be specified as either str, bytes, or a path-like object.  If path is bytes,
  the filenames returned will also be bytes; in all other circumstances
  the filenames returned will be str.
If path is None, uses the path='.'.
On some platforms, path may also be specified as an open file descriptor;\
  the file descriptor must refer to a directory.
  If this functionality is unavailable, using it raises NotImplementedError.

The list is in arbitrary order.  It does not include the special
entries '.' and '..' even if they are present in the directory.
Type:      builtin_function_or_method