In [ ]:
import vaex

In [5]:
import pandas as pd

In [15]:
%time pd.read_csv("../fm-data/perf/Performance_2000Q1.txt", sep="|")

CPU times: user 1e+03 ns, sys: 1e+03 ns, total: 2 µs
Wall time: 3.81 µs

,100007365142,01/01/2000,NULL,8.0,Unnamed: 4,0.0,360.0,359.0,01/2030,0.0.1,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,NULL.2,Unnamed: 29,NULL.3
0,100007365142,01/01/2001,NaN,8.00,74319.00,12.0,348.0,347.0,01/2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100007365142,01/01/2002,NaN,8.00,73635.48,24.0,336.0,335.0,01/2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100007365142,01/01/2003,NaN,8.00,72795.41,36.0,324.0,322.0,01/2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100007365142,02/01/2000,NaN,8.00,NaN,1.0,359.0,358.0,01/2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007365142,02/01/2001,NaN,8.00,74264.14,13.0,347.0,346.0,01/2030,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9094673,999999117079,12/01/2008,NaN,7.75,33119.88,105.0,75.0,61.0,03/2015,40060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9094674,999999117079,12/01/2009,NaN,7.75,27209.33,117.0,63.0,49.0,03/2015,40060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9094675,999999117079,12/01/2010,NaN,7.75,21200.81,129.0,51.0,37.0,03/2015,40060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9094676,999999117079,12/01/2011,NaN,7.75,14709.73,141.0,39.0,25.0,03/2015,40060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N
9094677,999999117079,12/01/2012,NaN,7.75,6884.45,153.0,27.0,11.0,03/2015,40060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N

In [16]:
%%time a = vaex.from_csv("../fm-data/perf/Performance_2000Q1.txt", sep="|")

CPU times: user 9min 25s, sys: 1.13 s, total: 9min 26s
Wall time: 9min 26s

In [17]:
a

#          _00007365142    _1_01_2000    NULL    Unnamed__4    _60_0    _59_0    _1_2030    _    N    NULL_1    Unnamed__13    Unnamed__14    Unnamed__15    Unnamed__16    Unnamed__17    Unnamed__18    Unnamed__19    Unnamed__20    Unnamed__21    Unnamed__22    Unnamed__23    Unnamed__24    Unnamed__25    Unnamed__26    Unnamed__27    NULL_2    Unnamed__29    NULL_3    index
0          100007365142    01/01/2001    nan     74319.0       348.0    347.0    01/2030    0    N    nan       nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan       nan            nan       0
1          100007365142    01/01/2002    nan     73635.48      336.0    335.0    01/2030    0    N    nan       nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan       nan            nan       1
2          100007365142    01/01/2003    nan     72795.41      324.0    322.0    01/2030    0    N    nan       nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan       nan            nan       2
3          100007365142    02/01/2000    nan     nan           359.0    358.0    01/2030    0    N    nan       nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan       nan            nan       3
4          100007365142    02/01/2001    nan     74264.14      347.0    346.0    01/2030    0    N    nan       nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan       nan            nan       4
...        ...             ...           ...     ...           ...      ...      ...        ...  ...  ...       ...            ...            ...            ...            ...            ...            ...            ...            ...            ...            ...            ...            ...            ...            ...            ...       ...            ...       ...
9,094,673  999999117079    12/01/2008    nan     33119.88      75.0     61.0     03/2015    0    N    nan       nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan       nan            N         9094673
9,094,674  999999117079    12/01/2009    nan     27209.33      63.0     49.0     03/2015    0    N    nan       nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan       nan            N         9094674
9,094,675  999999117079    12/01/2010    nan     21200.81      51.0     37.0     03/2015    0    N    nan       nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan       nan            N         9094675
9,094,676  999999117079    12/01/2011    nan     14709.73      39.0     25.0     03/2015    0    N    nan       nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan       nan            N         9094676
9,094,677  999999117079    12/01/2012    nan     6884.45       27.0     11.0     03/2015    0    N    nan       nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan            nan       nan            N         9094677